<!DOCTYPE html>
<html lang="en" class="bg-base-200">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chett</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../app.js"></script>
</head>
<body>
 <nav id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-slate-200">
       <ul class="space-y-2 font-medium">
        <li>
          <div href="#" class="flex items-center p-2 text-gray-900 rounded-lg bg-gray-100 group">
             <svg class="w-5 h-5" fill="#000000" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M489.818,30.958C473.194,11.89,450.165,0.914,424.975,0.054c-24.875-0.864-49.163,8.74-66.728,26.308 c-6.894,6.894-12.581,14.783-16.901,23.448c-1.527,3.058-4.994,4.844-8.418,4.359c-46.401-6.647-92.004,8.516-125.106,41.62 c-3.305,3.306-6.482,6.796-9.437,10.376c-6.68,8.084-16.421,13.322-27.429,14.745c-44.362,5.729-84.332,25.763-115.589,57.936 C19.711,215.55,0.081,264.149,0.097,315.693c0.013,44.166,14.459,86.154,41.037,120.349L5.332,471.843l34.713,34.713 l35.788-35.788c33.909,26.442,75.301,40.924,119.051,41.227c0.47,0.003,0.936,0.005,1.404,0.005 c52.444,0,101.696-20.393,138.817-57.514c31.459-31.458,50.864-71.395,56.116-115.492c1.152-9.663,6.303-18.717,14.503-25.492 c3.582-2.962,7.074-6.136,10.376-9.439c33.102-33.102,48.272-78.702,41.618-125.104c-0.496-3.454,1.507-6.964,4.979-8.73 c9.885-5.024,18.694-11.795,26.182-20.123C519.214,116.363,519.618,65.139,489.818,30.958z M452.37,117.285 c-3.43,3.816-7.439,6.904-11.919,9.18c-22.217,11.298-34.807,35.192-31.328,59.461c4.439,30.952-5.67,61.359-27.735,83.423 c-2.208,2.207-4.538,4.328-6.93,6.303c-17.972,14.849-29.332,35.282-31.983,57.532c-3.937,33.053-18.489,62.994-42.083,86.587 c-27.843,27.843-64.776,43.137-104.115,43.135c-0.349,0-0.704-0.002-1.054-0.005c-30.698-0.213-59.834-9.764-84.295-27.233 l54.992-54.992h82.4v-49.091h-33.308l85.38-85.38l-34.713-34.712l-85.38,85.38v-33.308h-49.091v82.4l-54.969,54.972 C36.144,344.24,40.91,264.178,90.578,213.053c23.449-24.135,53.418-39.163,86.668-43.459c23.4-3.026,44.349-14.448,58.987-32.166 c1.972-2.388,4.091-4.718,6.302-6.927c18.651-18.651,43.264-28.761,69.13-28.761c4.732,0,9.506,0.339,14.292,1.024 c24.492,3.521,48.308-8.967,59.319-31.05c1.952-3.917,4.536-7.496,7.68-10.64c8.103-8.103,18.861-12.369,30.339-11.959 c11.446,0.391,21.929,5.4,29.517,14.102C466.112,78.471,465.916,102.218,452.37,117.285z"></path> </g> </g> </g></svg>
             <h1 class="ms-1">Chett - Time Acces CMS</h1>
          </div>
       </li>
          <li>
             <a href="/" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                <svg class="w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                   <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                   <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                </svg>
                <span class="ms-3">Dashboard</span>
             </a>
          </li>
          <li>
             <a href="/customers" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                   <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Customers</span>
             </a>
          </li>
          <li>
             <a href="/products" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                   <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z"/>
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Products</span>
             </a>
          </li>
       </ul>
    </div>
 </nav>
 
 <main class="p-4 sm:ml-64">

    <div class="flex justify-between mb-2">
        <div class="flex">
            <h2 class="font-medium text-xl">Product Database</h2>
            <a href="/newproduct" class="border-2 solid rounded-lg border-blue-500 ml-1 bg-slate-100 mb-3">
                <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12H20M12 4V20" stroke="#1194f4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </a>
        </div>
        <div>
            <form class="flex items-center">   
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#999999"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Interface / Shopping_Cart_02"> <path id="Vector" d="M3 3H3.26835C3.74213 3 3.97943 3 4.17267 3.08548C4.34304 3.16084 4.48871 3.28218 4.59375 3.43604C4.71269 3.61026 4.75564 3.8429 4.84137 4.30727L7.00004 16L17.4218 16C17.875 16 18.1023 16 18.29 15.9199C18.4559 15.8492 18.5989 15.7346 18.7051 15.5889C18.8252 15.4242 18.8761 15.2037 18.9777 14.7631L18.9785 14.76L20.5477 7.95996L20.5481 7.95854C20.7023 7.29016 20.7796 6.95515 20.6947 6.69238C20.6202 6.46182 20.4635 6.26634 20.2556 6.14192C20.0184 6 19.6758 6 18.9887 6H5.5M18 21C17.4477 21 17 20.5523 17 20C17 19.4477 17.4477 19 18 19C18.5523 19 19 19.4477 19 20C19 20.5523 18.5523 21 18 21ZM8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20C9 20.5523 8.55228 21 8 21Z" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
                    </div>
                    <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Search Products..." required>
                </div>
                <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
            </form>
        </div>
    </div>
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Product Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price USD $
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price CDN $
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Edit/Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <%= product.ProductName %>
                        </th>
                        <td class="px-6 py-4">
                            <%= product.priceUSD %>
                        </td>
                        <td class="px-6 py-4">
                            <%= product.priceCAD %>
                        </td>
                        <td>
                            <div class="flex">
                                <a href="/editProduct/<%= product._id %>">
                                    <svg class="w-8 h-8 ml-5" fill="#0088ff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="#0088ff">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                        <g id="SVGRepo_iconCarrier">
                                            <path d="M20.548,3.452a1.542,1.542,0,0,1,0,2.182L12.912,13.27,9.639,14.361l1.091-3.273,7.636-7.636A1.542,1.542,0,0,1,20.548,3.452ZM4,21H19a1,1,0,0,0,1-1V12a1,1,0,0,0-2,0v7H5V6h7a1,1,0,0,0,0-2H4A1,1,0,0,0,3,5V20A1,1,0,0,0,4,21Z"></path>
                                        </g>
                                    </svg>
                                </a>
                                <a href="/deleteProduct/<%= product._id %>" onclick="return confirm('Are you sure you want to delete this product?')">
                                    <svg class="w-8 h-8" fill="#000000" viewBox="0 0 24 24" id="delete-file-2" data-name="Flat Line" xmlns="http://www.w3.org/2000/svg" class="icon flat-line">
                                        <g class="w-8 h-8" fill="#000000" viewBox="0 0 24 24" id="delete-file-2" data-name="Flat Line" xmlns="http://www.w3.org/2000/svg" class="icon flat-line"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path id="secondary" d="M18,21a1,1,0,0,0,1-1V4a1,1,0,0,0-1-1H9L5,7V20a1,1,0,0,0,1,1Z" style="fill: #ffffff; stroke-width: 2;"></path><line id="primary" x1="10.5" y1="10.5" x2="13.5" y2="13.5" style="fill: none; stroke: #ff5252; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line><line id="primary-2" data-name="primary" x1="13.5" y1="10.5" x2="10.5" y2="13.5" style="fill: none; stroke: #ff5252; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line><path id="primary-3" data-name="primary" d="M6,21a1,1,0,0,1-1-1V7L9,3h9a1,1,0,0,1,1,1V20a1,1,0,0,1-1,1Z" style="fill: none; stroke: #ff5252; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path></g></svg>
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                <% }); %>

                
            </tbody>
        </table>
    </div>
    
 </main>
 
</body>
</html>

